<h5 class="title" style="border-bottom:1px solid #D6D6D6; padding-bottom:15px;">Mes demandes de rendez-vous
</h5>
<div class="rdv" *ngFor="let apt of appointmentsResponse">
  <div *ngIf="apt.participantStatus == 'declined'">
    <img src="../assets/canceled.png">
  </div>
  <div *ngIf="apt.participantStatus == 'accepted'">
    <img src="../assets/validate.png">
  </div>
  <div *ngIf="apt.participantStatus == 'tentative'">
    <img src="../assets/wait.png">
  </div>
  {{apt.datestart | date:'dd/MM/yyyy HH:ss'}} à {{apt.dateend | date:'dd/MM/yyyy HH:ss'}}<br />
  <i>{{apt.id}}</i>
  <p>{{apt.pracname }}</p>
</div>
